body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0px;
}
._8e580b8f {
      width: 100%;
      background-color: #f2f2f0;
      padding: 10px 0px;
      height: 50px;
      top: 0;
      border-bottom: 1px solid #e2e2e0;
    }

    ._8e580b8f h1 {
      font-size: 20px;
      line-height: 1;
      margin: 5px 0px 0px 0px;
      display: inline-block;
    }._da6967b2 {
      width: 100%;
      min-height: 300px;
    }._db1a5204 input[type=search] {
      text-align: center;
      width: 100%;
      cursor: auto;
      text-shadow: none;
    }._75a754f0 {
      background-color: #ffffff;
      margin: 0 auto;
      text-align: center;
  }

  ._75a754f0 h1 {
    font-size: 12px;
  }

  ._75a754f0 img {
    width: 10%;
    margin:-5px 0;
    padding:0;
  }

  ._75a754f0 hr {
    margin:0;
    border:0;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }._5be7b1df {
      background-color: #ffffff;
      margin: 0 auto;
      text-align: center;
  }
  ._5be7b1df div.stackedMapHeader {
    width: 100%;
  }
  ._5be7b1df div.stackedMapSearch {
    width: 80%;
    margin: 10px auto;
  }
  ._5be7b1df div.stackMapContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
    // border: 1px solid gray;
  }
  ._5be7b1df div.stackedMapStacks {
    position: absolute;
    bottom: 0;
    width: 49%;
    float: left;
    border:1px solid gray;
  }
  ._5be7b1df div.stackedMapMap {
    width: 49%;
    float: right;
    border: 1px solid gray;
    min-height: 300px;
  }