body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0px;
}
._b3d8300e {
      width: 100%;
      background-color: #f2f2f0;
      padding: 10px 0px;
      height: 50px;
      position: fixed;
      top: 0;
      border-bottom: 1px solid #e2e2e0;
    }

    ._b3d8300e h1 {
      font-size: 20px;
      line-height: 1;
      margin: 5px 0px 0px 0px;
      display: inline-block;
    }._d774f6bc input[type=search] {
      text-align: center;
      cursor: auto;
      width: 30%;
      text-shadow: none;
      position: relative;
      top: 70px;
    }._023a3e58 {
      width:50%;
      background-color: #ffffff;
      position: fixed;
      top: 150px;
      margin: 0 auto;
      text-align: center;
  }

  ._023a3e58 h1 {
    font-size: 12px;
  }

  ._023a3e58 img {
    width: 15%;
    margin:0;
    padding:0;
  }

  ._023a3e58 hr {
    margin:0;
    border:0;
    height: 15px;
  }