body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0px;
}
._8e580b8f {
      width: 100%;
      background-color: #f2f2f0;
      padding: 10px 0px;
      height: 50px;
      top: 0;
      border-bottom: 1px solid #e2e2e0;
    }

    ._8e580b8f h1 {
      font-size: 20px;
      line-height: 1;
      margin: 5px 0px 0px 0px;
      display: inline-block;
    }._13a13dca input[type=search] {
      text-align: center;
      cursor: auto;
      width: 30%;
      text-shadow: none;
    }._af9d2845 {
      width:50%;
      background-color: #ffffff;
      top: 150px;
      margin: 0 auto;
      text-align: center;
  }

  ._af9d2845 h1 {
    font-size: 12px;
  }

  ._af9d2845 img {
    width: 15%;
    margin:-18px 0;
    padding:0;
  }

  ._af9d2845 hr {
    margin:0;
    border:0;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }